/* DatePickerStyles.css */
.custom-datepicker {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    width: 100%;
    margin-bottom: 10px; /* Adjust margin for spacing */
}

.react-datepicker-wrapper {
    display: inline-block;
    padding: 0;
    border: 0;
    width: 100%;
}

.filter-section {
    display: flex;
    justify-content: space-between; /* Distribute space evenly between elements */
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.filter-section label {
    margin-right: 10px;
}

.filter-section select, .filter-section input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    width: 100%; /* Ensure inputs and selects take full width */
}

.filter-section button {
    padding: 8px 15px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filter-section button:hover {
    background-color: #b02a37;
}

.filter-section select, .filter-section input {
    width: 100px;
}