.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 8%;
}

body {
    background-color: #ffffff;
    background-image: url("bg1.png");
    background-size: cover; /* чтобы картинка занимала весь экран */
    background-position: center; /* устанавливаем картинку по центру */
    background-repeat: no-repeat; /* чтобы избежать повторения картинки */
    margin: 0;
    padding: 0px;
    font-family: Arial, sans-serif;
}
