/* BreadCrumbs.css */

.breadcrumbs {
    display: flex;
    align-items: center;
}

.breadcrumb-item-2 {
    margin-right: 5px; /* Расстояние между элементами, если нужно */
    color:#7B7D87;
}

.breadcrumb-item-2 a {
    color: #DB0000;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease;
}

.breadcrumb-item-2 a:hover {
    border-bottom: 1px solid #DB0000;
}

.breadcrumb-item-2:not(:last-child)::after {
    content: '/';
    color:#7B7D87;
    margin-left: 5px;
}
