.avatar-container {
    border-radius: 7px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    border: 2px solid #d0d0d0;
    height: 40px;
}

.avatar-container:hover .custom-link {
    border-bottom: none;
}

.custom-link {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: #7B7D87;
    text-decoration: none;
    position: relative;
    top: 5px;
    overflow: hidden;
}

.custom-link::after {
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    bottom: -4px;
    height: 2px;
    width: 100%;
    background-color: #DB0000;
    transition: opacity 300ms ease;
}

.custom-link:hover::after {
    opacity: 1;
}

.custom-link.active-link::after {
    opacity: 1;
}


.custom-link:hover {
    text-decoration: none;
    color: #212121;
}

.active-link {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: none;
    color: #212121;
    text-decoration: none;
    position: relative;
    top: 5px;
    overflow: hidden;
    opacity: 1
}

.active-link::after {
    content: '';
    display: block;
    opacity: 1;
    position: absolute;
    bottom: -4px;
    /*bottom: -17%;*/
    height: 2px;
    width: 100%;
    background-color: #DB0000;
    transition: opacity 300ms ease;
}

.bg-white::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    left: 0;
    right: 0;
    background-color: rgba(164, 166, 173, 0.3);
}

.navbar {
    --bs-navbar-padding-y: 0.4rem;
}

.logout-link {
    text-decoration: none;
}

.logout-icon {
    color: #7B7D87;
}

.logout-text {
    line-height: 1;
    position: relative;
    color: #7B7D87;
    text-decoration: none;
    transition: color 0.3s ease;
}

.logout-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #7B7D87;
    transition: transform 0.3s ease;
    transform: scaleX(0);
}

.logout-link:hover .logout-icon {
    color: #DB0000;
}

.logout-link:hover .logout-text::after {
    transform: scaleX(1);
}
